{% extends 'app/base_generic.html' %}

{% block title %}Beauty Tag{% endblock %}

{% block style %}
<style>
    .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0,0,0,0);
    }
</style>
{% endblock %}

{% block top_content %}
    <div class="row justify-content-between my-5">
        <div class="col-lg-6 my-3">
            <div class="text-center py-5 border">
                <h3>圖片標籤池</h3>
                {% if tags %}
                    {% for tag in tags %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">{{ tag }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <div class="text-center py-5 border">
                <h3>標題標籤池</h3>
                {% if title_tags %}
                    {% for title_tag in title_tags %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">{{ title_tag }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_content %}
    <div class="row">
        {% for data in page_obj %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {# <img src="{{ data.imgs.0 }}" class="card-img-top" alt="Card image cap">#}
                    <div class="card-body" title="{{ data.tags }}">
                        <p class="card-text">{{ data.title }}</p>


                        <div>
                            <small class="text-muted">標記人數: {{ data.taggers|length }}｜</small>
                            <small class="text-muted">標籤數: {{ data.tags|length }}｜</small>
                            <small class="text-muted">圖數: {{ data.imgs|length }}｜</small>
                            <small class="text-muted">推文數: {{ data.push }}</small>
                        </div>

                        <a href="post/{{ data.slug }}/?page={{ page_number }}" type="button" class="btn btn-sm btn-outline-secondary mt-4 stretched-link">編輯</a>

                        <div class="float-right text-right mt-3">
                            <div><small class="text-muted">{{ data.author }}</small></div>
                            <div><small class="text-muted">{{ data.post_time }}</small></div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                {% if page_obj.has_previous %}
                    <div class="page-item">
                        <a class="page-link" href="?page=1">&laquo; first</a>
                    </div>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for page in page_obj.paginator.page_range %}
                    <div class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></div>
                {% endfor %}

                {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </div>
                    <div class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    </div>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endblock %}