{% extends 'app/base_generic.html' %}

{% block index_url %}/?page={{ page_number }}{% endblock %}
{% block title %}{{ data.title }}{% endblock %}

{% block top_content %}
    <div class="row justify-content-center my-5">
        <div class="col-lg-6 my-3">
            <div class="text-center py-5 border">
                <h3>圖片標籤池</h3>
                {% if tags %}
                    {% for tag in tags %}
                        <button type="button" class="tag btn btn-sm btn-outline-secondary my-1">{{ tag }}</button>
                    {% endfor %}
                {% endif %}
                <div class="container mt-3">
                    <form action="{{ request.get_full_path }}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <input id="tags" name="tags" type="text" class="form-control" placeholder="Tag name" required>
                                <small class="text-muted">以空格分開標籤</small>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <div class="form-group">
                                    <select class="form-control" name="taggers" required>
                                        <option></option>                                    　
                                        <option value="王柏元">王柏元</option>
                                        <option value="蔡睿陞">蔡睿陞</option>　
                                        <option value="林佑澤">林佑澤</option>                                    　
                                        <option value="徐唯傑">徐唯傑</option>
                                        <option value="廖崢圯">廖崢圯</option>
                                        <option value="杜博文">杜博文</option>
                                        <option value="蕭英桀">蕭英桀</option>
                                        <option value="盧夷希">盧夷希</option>
                                        <option value="陳泳蓉">陳泳蓉</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button onclick="return confirm('確定要上傳此圖片標籤？')" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <div class="text-center py-5 border">
                <h3>標題標籤池</h3>
                {% if title_tags %}
                    {% for title_tag in title_tags %}
                        <button type="button" class="title_tag btn btn-sm btn-outline-secondary my-1">{{ title_tag }}</button>
                    {% endfor %}
                {% endif %}
                <div class="container mt-3">
                    <form action="/title/{{ slug }}/?page={{ page_number }}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <input id="title_tags" name="tags" type="text" class="form-control" placeholder="Tag name" required>
                                <small class="text-muted">以空格分開標籤</small>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <div class="form-group">
                                    <select class="form-control" name="taggers" required>
                                        <option></option>                                    　
                                        <option value="王柏元">王柏元</option>
                                        <option value="蔡睿陞">蔡睿陞</option>　
                                        <option value="林佑澤">林佑澤</option>                                    　
                                        <option value="徐唯傑">徐唯傑</option>
                                        <option value="廖崢圯">廖崢圯</option>
                                        <option value="杜博文">杜博文</option>
                                        <option value="蕭英桀">蕭英桀</option>
                                        <option value="盧夷希">盧夷希</option>
                                        <option value="陳泳蓉">陳泳蓉</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button onclick="return confirm('確定要上傳此標題標籤？')" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom_content %}
            <div class="row pb-5">

                <div class="col-lg-4 my-3 my-lg-0">
                    <div class="border p-3 h-100">
                        <div><b>標題</b>：{{ data.title }}</div>
                        <div><b>作者</b>：{{ data.author }}</div>
                        {% if data.taggers %}
                            <div class="pt-3">
                                <div><b>誰標過</b></div>
                                {% for tagger in data.taggers %}
                                   <span><u>{{tagger}}</u></span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-4 my-3 my-lg-0">
                    <div class="border p-3 h-100">
                        <div><b>標題標籤</b></div>
                        {% if data.title_tags_average %}
                            <div class="py-3">
                                <div><b>平均分數</b></div>
                                {% for key, value in data.title_tags_average.items %}
                                   <div>{{ key }}: {{ value }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if data.title_tags %}
                            <div>
                                <div><b>此篇文章標籤</b></div>
                                {% for tag in data.title_tags %}
                                   <a href="/title_tag/delete/{{ slug }}/{{ forloop.counter0 }}/?page={{ page_number }}" onclick="return confirm('確定要從 標題標籤 刪除「 {{ tag }} 」？')" type="button" class="btn btn-sm btn-outline-danger my-1">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-4 my-3 my-lg-0">
                    <div class="border p-3 h-100">
                        <div><b>圖片標籤</b></div>
                        {% if data.tags_average %}
                            <div class="py-3">
                                <div><b>平均分數</b></div>
                                {% for key, value in data.tags_average.items %}
                                   <div>{{ key }}: {{ value }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if data.tags %}
                            <div>
                                <div><b>此篇文章標籤</b></div>
                                {% for tag in data.tags %}
                                   <a href="/tag/delete/{{ slug }}/{{ forloop.counter0 }}/?page={{ page_number }}" onclick="return confirm('確定要從 圖片標籤 刪除「 {{ tag }} 」？')" type="button" class="btn btn-sm btn-outline-danger my-1">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">

                    {% for img in data.imgs %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img src="{{ img }}" class="lazyload card-img-top border" alt="Card image cap">
                                <a href="{{ img }}" class="text-center py-3">{{ img }}</a>
                                <a href="/img/delete/{{ slug }}/{{ forloop.counter0 }}/?page={{ page_number }}" onclick="return confirm('確定要刪除 {{ img }} 圖片？')" class="btn btn-danger">Delete this image</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-12 my-5">
                    {% for comment in data.comments %}
                            <div>
                                {{ comment.content }}
                            </div>
                    {% endfor %}
                    </div>

            </div>
{% endblock %}

{% block script %}
<script>
    $(".tag").click(function () {
        var tag = ' '+$(this).text();
        $("#tags").val(function() {
            return $.trim(this.value + tag);
        });
    });
    $(".title_tag").click(function () {
        var tag = ' '+$(this).text();
        $("#title_tags").val(function() {
            return $.trim(this.value + tag);
        });
    });
</script>
{% endblock %}
